.star {
	cursor: pointer;
}
.navbar {
	background-color: #330066;
}
th:hover {
	cursor: pointer;
	color: #707070;
	background-color: white;
}
.btn-raptor:hover {
	background-color: white;
	color: #330066; 
}
.btn-raptor {
	background-color: #330066;
	border: thin solid white;
	color: white;
}
#main-content {
	margin-top: 65px;
	padding-left: 40px;
}
table {
	font-size: 10pt;
}