.sidebar-collapsed {
	cursor: pointer;
	background-color: #f5f5f5;
	height: 100%;
	width: 50px;
	position: fixed;
	left: 0px;
	top: 52px;
	border-right: 2px solid #cccccc;
	padding: 7px;
}
.sidebar-collapse.hidden {
	display: none;
}
.sidebar-container {
	background-color: #f5f5f5;
	min-height: 100%;
	position: fixed;
	left: 0px;
	top: 52px;
	border-right: 2px solid #cccccc;
	padding: 7px;
}
.sidebar-container.hidden {
	display: none;
}
.sidebar-header,.sidebar-header:link {
	margin-left: -10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	font-size: 13pt;
	color: #707070;
	border-radius: 0 5px 5px 0;
	text-decoration: none;
}
.no-decoration,.no-decoration:link,.no-decoration:visited,no-decoration:hover {
	text-decoration:none;
}
.sidebar-header>.glyphicon {
	padding-right: 9px;
}
.sidebar-header:hover {
	background-color: #e6e6e6;
	text-decoration: none;
}
.sidebar-body>hr,.sidebar-collapsed>hr {
	border-top: 1px solid #cccccc;
	color: black;
}
.sidebar-body>.submenu>ul {
	padding-left: 20px;
}
.sidebar-body>.submenu>ul>li {
	list-style-type: none;
}
.sidebar-body>.submenu>a {
	padding-left: 20px;
}
.submenu {
	display: none;
}
.submenu.expand {
	display: block;
}
.sidebar-footer>.sidebar-header {
	line-height: 250px;
	height: 250px;
	text-align: right;
}
.sidebar-footer {
	cursor: pointer;
}
